#welcome-container {
  width: 100%;
}

#welcome-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#welcome-hero {
  width: 100%;
}

#welcome-hero-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26rem;
  overflow: hidden;
}
#welcome-background {
  position: absolute;
  inset: 0;
  height: 24rem;
  background-image: url('/images/branding/wave.png');
  background-size: contain; /* Changed from cover to contain */
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  filter: grayscale(100%);
}

#welcome-background::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    transparent 15%,
    transparent 85%,
    rgb(0, 0, 0) 100%
  );
  pointer-events: none;
}

#welcome-header-container {
  position: absolute;
  text-align: center;
  padding: 0 1rem;
  z-index: 10;
}

#welcome-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#welcome-title {
  font-size: 2rem;
  font-weight: bold;
}

#welcome-container-logo {
  height: 40px; /* Keep the height you already have */
  width: auto; /* Adjust as needed if the aspect ratio must be maintained */
  max-width: 100%; /* Ensure it does not exceed the parent container */
}
#welcome-description {
  font-weight: 400;
  font-size: 20px;
  max-width: 42rem;
  margin: 1rem auto;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#explore-link {
  text-decoration: none;
}

#explore-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 18px;
}

#explore-arrow {
  margin-left: 0.5rem;
  margin-top: 2px;
  transition: transform 0.2s ease-in-out;
}

#explore-link:hover #explore-arrow {
  transform: translateX(4px);
}

#tools-section {
  margin: 6rem auto 8rem;
  max-width: 70rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

#tools-header {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2rem;
}
