/* Hide branding */
.mx-auto.my-8.w-fit {
  display: none !important;
}

/* Hide the changelog icon */
.fern-sidebar-icon {
  display: none !important;
}

/* Hide first HR in changelog */
.fern-changelog > main > section + hr {
  display: none;
}

/* Reduce padding on first changelog entry */
.fern-changelog > main > section.fern-changelog-entry {
  padding-bottom: 0px;
}

/* Hide the docs sidebar tab icons container */
.flex.min-w-0.items-center.justify-start.space-x-4 > .min-w-fit {
  display: none !important;
  position: absolute !important;
  visibility: hidden !important;
}

.flex.min-w-0.items-center.justify-start.space-x-4 > span {
  margin-left: 0 !important;
}
