/*----------------------------------------
  Wave Animation Block
----------------------------------------*/
#wave {
  width: 100vw;
  max-width: 100vw;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* Three.js wave canvas height configuration */
canvas[data-engine='three.js r171'] {
  height: 350px !important;
}
