h1 {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

@media (min-width: 640px) {
  h1 {
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
  }
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose-sm h1,
.prose-sm h2,
.prose-sm h3,
.prose-sm h4,
.prose-sm h5,
.prose-sm h6 {
  color: rgb(24, 24, 24) !important;
}

.prose p,
.prose-sm p {
  color: rgb(64, 63, 64) !important;
}

.light .prose a.fern-mdx-link,
.light .prose-sm a.fern-mdx-link {
  text-decoration-color: rgb(77, 156, 255) !important;
  color: rgb(17, 24, 39) !important;
}

.fern-sidebar-link-container[data-state="active"] .fern-sidebar-link-text {
  font-weight: 600 !important;
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose h5,
.dark .prose h6,
.dark .prose a,
.dark .prose-sm h1,
.dark .prose-sm h2,
.dark .prose-sm h3,
.dark .prose-sm h4,
.dark .prose-sm h5,
.dark .prose-sm h6,
.dark .prose-sm a {
  color: rgb(223, 223, 224) !important;
}

.dark .prose p,
.dark .prose-sm p {
  color: rgb(160, 159, 160) !important;
}

#fern-header nav > .max-w-content-width {
  max-width: 386px !important;
}

#fern-header .fern-search-bar {
  height: 38px !important;
  border-radius: 7px !important;
  background-color: transparent !important;
  background-color: white !important;
}

.dark #fern-header .fern-search-bar {
  background-color: #080c11 !important;
}

#fern-header .fern-button-group > a.fern-button {
  color: rgb(64, 63, 64);
  font-weight: 500 !important;
  padding: 6px 16px !important;
}

.dark #fern-header .fern-button-group > a.fern-button {
  color: rgb(223, 223, 224);
}

#fern-header .fern-button[href="https://elevenlabs.io/sign-up"]
{
  margin-left: 16px !important;
}

.fern-button[href="https://elevenlabs.io/sign-up"]
{
  border-radius: 9999px !important;
}

#fern-header .fern-button-group > button.fern-button {
  margin-left: 51px !important;
}

.fern-button[href="https://elevenlabs.io/sign-up"],
.fern-button[href="https://elevenlabs.io/sign-up"]:hover
{
  background-color: #0050b4 !important;
  box-shadow: unset !important;
  color: white !important;
}

.fern-button[href="https://elevenlabs.io/sign-up"]:hover
{
  opacity: 0.9 !important;
}

.dark .fern-button[href="https://elevenlabs.io/sign-up"]
{
  background-color: rgba(77, 156, 255, 0.1) !important;
  box-shadow: inset 0 0 0 1px rgb(77 156 255 / 0.3) !important;
  color: #4d9cff !important;
}

.dark .fern-button[href="https://elevenlabs.io/sign-up"]:hover
{
  background-color: rgba(77, 156, 255, 0.09) !important;
  box-shadow: inset 0 0 0 1px rgb(77 156 255 / 0.6) !important;
  color: rgb(77 156 255) !important;
  opacity: 1 !important;
}

.fern-button[href="https://elevenlabs.io/sign-up"] .fern-button-content:after
{
  content: "";
  display: inline-block;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L4 4L1 7" stroke="black" stroke-width="1.5" stroke-linecap="round"/></svg>');
  -webkit-mask-repeat: no-repeat;
  width: 6px;
  height: 8px;
  margin-left: 3px;
  margin-right: 0px;
  background-color: white !important;
  transform: scale(0.85);
  opacity: 0.9;
}

.dark .fern-button[href="https://elevenlabs.io/sign-up"] .fern-button-content:after
{
  background-color: rgb(77 156 255) !important;
}

.fern-sidebar-link[href$="/api-reference/voice-generation-deprecated/generate"]
  .fern-sidebar-link-text,
.fern-sidebar-link[href$="/api-reference/voice-generation-deprecated/generate-parameters"]
  .fern-sidebar-link-text,
.fern-sidebar-link[href$="/api-reference/voice-generation-deprecated/create-a-previously-generated-voice"]
  .fern-sidebar-link-text {
  text-decoration: line-through;
  color: var(--grayscale-8);
}

.fern-header-searchbar {
  max-width: 450px !important;
}

:is(.light) .fern-header-right-menu .fern-button.minimal .fern-button-content {
  color: black;
}

.fern-header-right-menu .fern-button .fern-button-content {
  font-size: 12px;
  text-transform: uppercase;
}

.fern-header-tabs-list span {
  font-size: 12px;
  text-transform: uppercase;
}

.fern-dropdown-item .fern-api-property-meta {
  color: var(--accent-8);
}

/* landing page styling */

#hero .container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.typing {
  display: inline-block;
  width: fit-content;
}

#features .container {
  width: 60%;
  align-self: center;
}

#features {
  display: flex;
  flex-direction: column;
}

#hero h1 {
  font-size: 2.75rem !important;
  padding-bottom: 20px;
}

#hero {
  text-align: center;
  padding: 100px 0px;
}

#hero h2 {
  font-size: 2rem;
  overflow: hidden;
  border-right: 0.15em solid #4d9cff;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

#hero p {
  width: 50%;
  align-self: center;
}

#features h2 {
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #4d9cff;
  }
}

.desktop {
  display: block;
}

@media only screen and (max-width: 900px) {
  .desktop {
    display: none;
  }
}

.fern-card img {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  transition: transform 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.fern-card:hover img {
  transform: scale(1.05);
}

#more {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#more h3 {
  text-align: center;
}

#more .container {
  align-self: center;
}

.fern-card:hover {
  border-color: var(--border) !important;
}

.wave {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  transform: translateX(
    calc(-1 * max(0px, (100vw - var(--spacing-page-width)) / 2))
  );
  margin-top: 60px;
  margin-bottom: 30px;
  height: 200px !important;
}

.card-icon.fa-icon {
  height: 24px !important;
  width: 24px !important;
}

@media (max-width: 675px) {
  #hero h1 {
    font-size: 1.5rem !important;
  }

  #hero h2 {
    font-size: 1.25rem !important;
  }

  #hero .container {
    width: 100vw;
  }

  #hero p {
    width: 80%;
  }
}

canvas[data-engine="three.js r171"] {
  height: 350px !important;
}

elevenlabs-convai {
  --el-bg-color: rgb(var(--background));
  --el-text-color: rgb(24, 24, 24);
  --el-border-color: var(--border);
  --el-border-radius: 0.75rem;
  --el-btn-color: #0050b4;
  --el-btn-text-color: #fff;
  --el-btn-radius: 32px;
  --el-focus-color: rgba(var(--accent), 0.5);
}

.dark elevenlabs-convai {
  --el-bg-color: #1e1e20;
  --el-text-color: rgb(223, 223, 224);
  --el-border-color: #323638;
  --el-btn-color: rgba(77, 156, 255, 0.1);
  --el-btn-text-color: #4d9cff;
  --el-focus-color: rgba(var(--accent), 0.5);
}

.fern-logo-container {
  height: 30px !important;
}
