<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Override Sentry DSN to prevent error reporting from local builds -->
        <meta-data android:name="io.sentry.dsn" android:value="" />
    </application>
</manifest>